Repository JellyfishSDK/whale, pull requests merged in 2021-07, with the labels that each got.

#193 added withTransactionBuilder for WhaleWalletAccount to use Whale feeRate and prevout provider
  packages/whale-api-wallet/src/wallet.ts
Labels: area/whale-api-wallet, kind/feature

#199 Transaction `test/send` to include all error message as BadRequest
  src/module.api/transaction.controller.spec.ts
  src/module.api/transaction.controller.ts
Labels: area/module-api, kind/chore

#219 Bump jellyfish deps to v0.24.0 with `WalletEllipticPair` update
  .github/CODEOWNERS
  .idea/whale.iml
  package-lock.json
  package.json
  packages/whale-api-client/package.json
  packages/whale-api-wallet/package.json
  packages/whale-api-wallet/src/wallet.ts
Labels: area/whale-api-client, area/whale-api-wallet, area/workflow, kind/dependencies

#221 Fixed next param type in `token` and `poolpair` controllers
  packages/whale-api-client/src/api/poolpair.ts
  packages/whale-api-client/src/api/tokens.ts
Labels: area/whale-api-client, kind/fix

#225 Add waitForIndexedHeight function
  packages/whale-api-client/__tests__/stub.service.ts
Labels: area/whale-api-client, kind/refactor

#239 updated workflow & github health files
  .github/dependabot.yml
  .github/governance.yml
  .github/release-drafter.yml
  .github/workflows/oss-governance-labeler.yml
  .github/workflows/oss-governance-project-issue.yml
  .husky/.gitignore
  CONTRIBUTING.md
  package.json
Labels: area/workflow, kind/chore

#224 Made collateral address optional if it is undefined.
  packages/whale-api-client/__tests__/api/tokens.test.ts
  packages/whale-api-client/src/api/tokens.ts
  src/module.api/token.controller.e2e.ts
  src/module.api/token.controller.spec.ts
  src/module.api/token.controller.ts
Labels: area/module-api, area/whale-api-client, kind/fix

#244 Add `v0/:network/transactions/:id` endpoint
  packages/whale-api-client/__tests__/api/transaction.test.ts
  packages/whale-api-client/src/api/transactions.ts
  src/module.api/transaction.controller.e2e.ts
  src/module.api/transaction.controller.spec.ts
  src/module.api/transaction.controller.ts
Labels: area/module-api, area/whale-api-client, kind/feature

#204 Masternode controller
  packages/whale-api-client/__tests__/api/masternode.test.ts
  packages/whale-api-client/src/api/masternode.ts
  packages/whale-api-client/src/index.ts
  packages/whale-api-client/src/whale.api.client.ts
  src/module.api/_module.ts
  src/module.api/masternode.controller.e2e.ts
  src/module.api/masternode.controller.spec.ts
  src/module.api/masternode.controller.ts
Labels: area/module-api, area/whale-api-client, kind/feature

#250 Refactor __sanity__ into .github/workflows/ci
  .github/workflows/ci.yml
  .github/workflows/ci/README.md
  .github/workflows/ci/docker-compose.yml
  .github/workflows/ci/postman_collection.json
  .github/workflows/ci/wait-for
  .github/workflows/release-publish.yml
Labels: area/workflow, kind/refactor

#260 Fix dependency bump
  package-lock.json
  package.json
  packages/whale-api-client/__tests__/api/address.test.ts
  packages/whale-api-client/__tests__/api/transaction.test.ts
  packages/whale-api-client/package.json
  packages/whale-api-wallet/package.json
  src/module.api/actuator.e2e.ts
  src/module.api/transaction.controller.e2e.ts
  src/module.indexer/indexer.spec/_testing.module.ts
  src/module.indexer/indexer.spec/block.spec.ts
  src/module.indexer/indexer.spec/script.spec.ts
  src/module.indexer/indexer.spec/transaction.spec.ts
Labels: area/module-api, area/module-indexer, area/whale-api-client, area/whale-api-wallet, kind/chore

#202 added poolpair stats `priceRatio` and `totalLiquidityUsd`
  .idea/dictionaries/fuxing.xml
  packages/whale-api-client/__tests__/api/poolpair.test.ts
  packages/whale-api-client/src/api/poolpair.ts
  src/module.api/_module.ts
  src/module.api/poolpair.controller.e2e.ts
  src/module.api/poolpair.controller.spec.ts
  src/module.api/poolpair.controller.ts
  src/module.api/poolpair.service.ts
Labels: area/module-api, area/whale-api-client, kind/feature

#261 Add basic testing for block invalidation
  src/module.indexer/indexer.spec/_testing.module.ts
  src/module.indexer/indexer.spec/block.spec.ts
Labels: area/module-indexer, kind/chore

#270 global version prefixed endpoint
  .github/workflows/ci/docker-compose.yml
  .github/workflows/ci/postman_collection.json
  .github/workflows/release-publish.yml
  lerna.json
  package-lock.json
  package.json
  packages/whale-api-client/__tests__/api/masternode.test.ts
  packages/whale-api-client/__tests__/api/poolpair.test.ts
  packages/whale-api-client/__tests__/api/rpc.test.ts
  packages/whale-api-client/__tests__/api/tokens.test.ts
  packages/whale-api-client/__tests__/api/transaction.test.ts
  packages/whale-api-client/__tests__/stub.client.ts
  packages/whale-api-client/package.json
  packages/whale-api-client/src/version.ts
  packages/whale-api-client/src/whale.api.client.ts
  packages/whale-api-wallet/package.json
  src/app.module.ts
  src/e2e.module.ts
  src/main.ts
  src/module.api/_core/api.version.ts
  src/module.api/_module.ts
  src/module.api/address.controller.e2e.ts
  src/module.api/address.controller.spec.ts
  src/module.api/address.controller.ts
  src/module.api/guards/network.guard.e2e.ts
  src/module.api/guards/network.guard.ts
  src/module.api/masternode.controller.ts
  src/module.api/poolpair.controller.ts
  src/module.api/rpc.controller.ts
  src/module.api/token.controller.ts
  src/module.api/transaction.controller.ts
  tsconfig.build.json
  tsconfig.json
Labels: area/module-api, area/whale-api-client, area/whale-api-wallet, area/workflow, kind/chore

#272 fix ci.yml removed readiness check
  .github/workflows/ci/postman_collection.json
Labels: area/workflow, kind/fix

#188 Add `v0//blocks` & `v0//blocks/:id/transactions` APIs
  packages/whale-api-client/__tests__/api/blocks.test.ts
  packages/whale-api-client/src/api/blocks.ts
  packages/whale-api-client/src/index.ts
  packages/whale-api-client/src/whale.api.client.ts
  src/module.api/_core/api.paged.response.ts
  src/module.api/_module.ts
  src/module.api/block.controller.e2e.ts
  src/module.api/block.controller.ts
Labels: area/module-api, area/whale-api-client, kind/feature

#273 refactor client names to plural
  packages/whale-api-client/__tests__/api/masternodes.test.ts
  packages/whale-api-client/__tests__/api/poolpairs.test.ts
  packages/whale-api-client/src/api/masternodes.ts
  packages/whale-api-client/src/api/poolpairs.ts
  packages/whale-api-client/src/index.ts
  packages/whale-api-client/src/whale.api.client.ts
  src/module.api/masternode.controller.ts
  src/module.api/poolpair.controller.ts
Labels: area/module-api, area/whale-api-client, kind/refactor

#274 fix lerna with no-private scope
  package.json
  packages/whale-api-client/package.json
  packages/whale-api-client/src/version.ts
Labels: area/whale-api-client, kind/fix

#275 fixed version:set to set before packages:build
  .github/workflows/release-publish.yml
  package.json
  packages/whale-api-client/package.json
  packages/whale-api-client/src/version.ts
Labels: area/whale-api-client, area/workflow, kind/fix

#276 oracles scaffolding files for initial commit for easier reviewing experience
  packages/whale-api-client/__tests__/api/oracles.test.ts
  packages/whale-api-client/__tests__/stub.service.ts
  packages/whale-api-client/src/api/oracles.ts
  packages/whale-api-client/src/index.ts
  packages/whale-api-client/src/whale.api.client.ts
  src/e2e.module.ts
  src/module.api/_module.ts
  src/module.api/oracle.controller.e2e.ts
  src/module.api/oracle.controller.ts
  src/module.model/_module.ts
Labels: area/module-api, area/module-model, area/whale-api-client, kind/chore

#277 /blocks/:id/transactions/:txid/vins & /blocks/:id/transactions/:txid/vouts endpoints
  packages/whale-api-client/__tests__/api/blocks.test.ts
  packages/whale-api-client/src/api/blocks.ts
  packages/whale-api-client/src/api/transactions.ts
  src/module.api/block.controller.e2e.ts
  src/module.api/block.controller.ts
Labels: area/module-api, area/whale-api-client, kind/feature

#278 tsconfig.target to use `es2019`
  .idea/dictionaries/fuxing.xml
  tsconfig.json
Labels: kind/chore

#279 /_actuator/probes to include details of alive probes
  src/module.api/actuator.e2e.ts
  src/module.defid/defid.probes.ts
  src/module.model/_model.probes.ts
Labels: area/module-api, area/module-defid, area/module-model, kind/chore
