Repository JellyfishSDK/whale, pull requests merged in 2021-05, with the labels that each got.

#32 updated codeowners to include current contributors
  .codeclimate.yml
  .github/CODEOWNERS
  .github/labeler.yml
Labels: area/workflow, kind/chore

#33 refactor config to use module export
  jest.config.js
  src/app.configuration.ts
  src/app.module.ts
  tsconfig.json
Labels: kind/refactor

#31 database module with an agnostic provider
  .codeclimate.yml
  .gitignore
  .idea/dictionaries/fuxing.xml
  __e2e__/module.testing.ts
  package-lock.json
  package.json
  src/app.configuration.ts
  src/app.module.ts
  src/main.ts
  src/module.database/database.spec/README.md
  src/module.database/database.spec/_fixtures.ts
  src/module.database/database.spec/_model.ts
  src/module.database/database.spec/specifications.ts
  src/module.database/database.ts
  src/module.database/index.spec.ts
  src/module.database/index.ts
  src/module.database/model.ts
  src/module.database/module.ts
  src/module.database/provider.level/_types.d.ts
  src/module.database/provider.level/level.database.spec.ts
  src/module.database/provider.level/level.database.ts
  src/module.database/provider.level/module.ts
  src/module.database/provider.memory/index.ts
  src/module.database/provider.memory/memory.database.spec.ts
  src/module.database/provider.memory/memory.database.ts
  src/module.database/provider.memory/module.ts
  src/module.models/block.ts
Labels: kind/feature

#35 added slice response pagination spec
  src/module.api/call.controller.ts
  src/module.api/commons/response.interceptor.ts
  src/module.api/commons/slice.response.spec.ts
  src/module.api/commons/slice.response.ts
  src/module.api/commons/transform.interceptor.ts
  src/module.api/transactions.controller.ts
Labels: kind/feature

#36 updated jellyfish-dependencies
  .github/workflows/jellyfish-dependencies.yml
  package-lock.json
Labels: area/workflow, kind/dependencies

#38 refactor, fixes & code governance
  .github/CODEOWNERS
  .github/governance.yml
  .github/labeler.yml
  .github/labels.yml
  .github/workflows/jellyfish-dependencies.yml
  .idea/dictionaries/fuxing.xml
  package-lock.json
  package.json
  src/module.database/database.spec/_model.ts
  src/module.database/model.ts
  src/module.database/provider.level/level.database.ts
Labels: area/workflow, kind/refactor

#41 new module.model for indexed data
  .github/workflows/ci.yml
  .github/workflows/jellyfish-dependencies.yml
  README.md
  src/app.module.ts
  src/module.model/_hex.encoder.spec.ts
  src/module.model/_hex.encoder.ts
  src/module.model/_module.ts
  src/module.model/block.spec.ts
  src/module.model/block.ts
  src/module.model/raw.block.spec.ts
  src/module.model/raw.block.ts
  src/module.model/script.activity.spec.ts
  src/module.model/script.activity.ts
  src/module.model/script.aggregation.ts
  src/module.model/script.unspent.ts
  src/module.model/transaction.ts
  src/module.model/transaction.vin.ts
  src/module.model/transaction.vout.ts
Labels: area/module-model, area/workflow, kind/feature

#42 switch to a proper wait-for script for ci.yml
  .github/workflows/ci.yml
  __sanity__/wait-for
  __sanity__/wait-for.sh
Labels: area/workflow, kind/chore

#43 added @defichain/testing to dev
  .github/workflows/jellyfish-dependencies.yml
  package-lock.json
  package.json
Labels: area/workflow, kind/chore

#44 ci.yml to use matrix for faster build
  .github/workflows/ci.yml
Labels: area/workflow, kind/chore

#46 rename jellyfish-dependencies to defichain-dependencies
  .github/workflows/defichain-dependencies.yml
Labels: area/workflow, kind/chore

#47 removed unused config from level-db test
  src/module.database/provider.level/level.database.spec.ts
Labels: area/module-database, kind/refactor

#59 added packages/whale-api-client
  .github/CODEOWNERS
  .github/governance.yml
  .github/labeler.yml
  .github/labels.yml
  .github/workflows/ci.yml
  .github/workflows/release-publish.yml
  jest.config.js
  lerna.json
  package-lock.json
  package.json
  packages/tsconfig.json
  packages/whale-api-client/README.md
  packages/whale-api-client/__tests__/api/call.test.ts
  packages/whale-api-client/__tests__/api/transaction.test.ts
  packages/whale-api-client/__tests__/stub.client.ts
  packages/whale-api-client/__tests__/stub.service.ts
  packages/whale-api-client/package.json
  packages/whale-api-client/src/api/call.ts
  packages/whale-api-client/src/api/transactions.ts
  packages/whale-api-client/src/errors/api.error.ts
  packages/whale-api-client/src/errors/api.validation.exception.ts
  packages/whale-api-client/src/errors/client.timeout.exception.ts
  packages/whale-api-client/src/errors/index.ts
  packages/whale-api-client/src/index.ts
  packages/whale-api-client/src/whale.api.client.ts
  packages/whale-api-client/src/whale.rpc.client.ts
  packages/whale-api-client/tsconfig.json
  tsconfig.build.json
Labels: area/core, area/workflow, kind/feature

#62 whale-api-client: query pagination chaining
  __e2e__/call.e2e.ts
  __sanity__/postman_collection.json
  packages/whale-api-client/__tests__/api/call.test.ts
  packages/whale-api-client/__tests__/stub.client.ts
  packages/whale-api-client/src/api/rpc.ts
  packages/whale-api-client/src/api/transactions.ts
  packages/whale-api-client/src/errors/index.ts
  packages/whale-api-client/src/index.ts
  packages/whale-api-client/src/whale.api.client.ts
  packages/whale-api-client/src/whale.api.response.ts
  packages/whale-api-client/src/whale.rpc.client.ts
  src/module.api/_module.ts
  src/module.api/rpc.controller.spec.ts
  src/module.api/rpc.controller.ts
Labels: area/core, area/module-api, area/whale-api-client, kind/feature

#48 added module.indexer
  src/app.module.ts
  src/module.indexer/error.ts
  src/module.indexer/indexer.spec/_testing.module.ts
  src/module.indexer/indexer.spec/block.spec.ts
  src/module.indexer/indexer.spec/script.spec.ts
  src/module.indexer/indexer.spec/transaction.spec.ts
  src/module.indexer/indexer.ts
  src/module.indexer/model/_abstract.ts
  src/module.indexer/model/_main.ts
  src/module.indexer/model/_vout_finder.ts
  src/module.indexer/model/block.ts
  src/module.indexer/model/script.activity.ts
  src/module.indexer/model/script.aggregation.ts
  src/module.indexer/model/script.unspent.ts
  src/module.indexer/model/transaction.ts
  src/module.indexer/model/transaction.vin.ts
  src/module.indexer/model/transaction.vout.ts
  src/module.indexer/module.ts
  src/module.indexer/status.ts
  src/module.model/_module.ts
  src/module.model/block.spec.ts
  src/module.model/block.ts
  src/module.model/script.activity.spec.ts
  src/module.model/script.activity.ts
  src/module.model/script.aggregation.ts
  src/module.model/script.unspent.ts
  src/module.model/transaction.ts
  src/module.model/transaction.vin.ts
  src/module.model/transaction.vout.ts
  tsconfig.build.json
Labels: area/module-indexer, area/module-model, kind/feature

#72 moved e2e tests into packages/whale-api-client/__tests__
  .codeclimate.yml
  .idea/dictionaries/fuxing.xml
  README.md
  __e2e__/README.md
  __e2e__/call.e2e.ts
  __e2e__/transactions.e2e.ts
  jest.config.js
  packages/whale-api-client/__tests__/api/call.test.ts
  packages/whale-api-client/__tests__/api/rpc.test.ts
  packages/whale-api-client/__tests__/api/transaction.test.ts
  packages/whale-api-client/__tests__/errors/api.error.test.ts
  packages/whale-api-client/__tests__/errors/api.validation.exception.test.ts
  packages/whale-api-client/__tests__/errors/client.timeout.exception.test.ts
  packages/whale-api-client/__tests__/errors/index.test.ts
  packages/whale-api-client/__tests__/stub.service.ts
  packages/whale-api-client/__tests__/whale.rpc.client.test.ts
  packages/whale-api-client/__tests__/whale.rpc.response.test.ts
  packages/whale-api-client/src/errors/api.error.ts
  packages/whale-api-client/src/errors/api.validation.exception.ts
  packages/whale-api-client/src/errors/index.ts
  packages/whale-api-client/src/whale.api.client.ts
  packages/whale-api-client/src/whale.api.response.ts
  packages/whale-api-client/src/whale.rpc.client.ts
  src/e2e.module.ts
  src/module.api/guards/network.guard.e2e.ts
  src/module.api/health.e2e.ts
  src/module.api/rpc.controller.spec.ts
  src/module.api/transactions.controller.ts
  tsconfig.build.json
Labels: area/module-api, area/whale-api-client, kind/refactor

#74 small code refactors
  packages/whale-api-client/__tests__/whale.rpc.response.test.ts
  packages/whale-api-client/src/api/rpc.ts
  packages/whale-api-client/src/errors/api.error.ts
  packages/whale-api-client/src/errors/index.ts
  packages/whale-api-client/src/whale.api.client.ts
  packages/whale-api-client/src/whale.api.response.ts
  src/e2e.module.ts
  src/module.api/_query.ts
  src/module.api/interceptors/api.error.ts
  src/module.api/interceptors/api.paged.response.spec.ts
  src/module.api/interceptors/api.paged.response.ts
  src/module.api/interceptors/api.slice.response.spec.ts
  src/module.api/interceptors/response.interceptor.ts
Labels: area/module-api, area/whale-api-client, kind/refactor

#76 major refactor and fixes within module.api
  .idea/dictionaries/fuxing.xml
  packages/whale-api-client/__tests__/stub.client.ts
  packages/whale-api-client/__tests__/whale.rpc.response.test.ts
  packages/whale-api-client/src/whale.api.client.ts
  packages/whale-api-client/src/whale.api.response.ts
  src/module.api/_core/api.error.ts
  src/module.api/_core/api.paged.response.spec.ts
  src/module.api/_core/api.paged.response.ts
  src/module.api/_core/api.query.ts
  src/module.api/_core/api.response.ts
  src/module.api/_core/api.version.ts
  src/module.api/_module.ts
  src/module.api/_query.ts
  src/module.api/guards/network.guard.e2e.ts
  src/module.api/guards/network.guard.ts
  src/module.api/interceptors/exception.interceptor.ts
  src/module.api/interceptors/response.interceptor.ts
  src/module.api/pipes/api.validation.pipe.ts
  src/module.api/rpc.controller.spec.ts
  src/module.api/rpc.controller.ts
  src/module.api/transactions.controller.spec.ts
  src/module.api/transactions.controller.ts
Labels: area/module-api, area/whale-api-client, kind/refactor

#77 added `GET: /v1/:network/address/:address/tokens`
  Dockerfile
  package-lock.json
  package.json
  packages/whale-api-client/__tests__/api/address.test.ts
  packages/whale-api-client/__tests__/whale.api.response.test.ts
  packages/whale-api-client/src/api/address.ts
  packages/whale-api-client/src/index.ts
  packages/whale-api-client/src/whale.api.client.ts
  src/module.api/_module.ts
  src/module.api/address.controller.spec.ts
  src/module.api/address.controller.ts
  src/module.api/cache/token.info.cache.spec.ts
  src/module.api/cache/token.info.cache.ts
  tsconfig.build.json
  tsconfig.json
Labels: area/module-api, area/whale-api-client, kind/feature

#86 fix lint not failing
  .github/workflows/ci.yml
Labels: area/workflow, kind/fix

#87 oss-governance-project to auto update project board
  .github/workflows/oss-governance-project.yml
Labels: area/workflow, kind/chore

#83 added poolpairs.controller.ts
  packages/whale-api-client/__tests__/api/poolpair.test.ts
  packages/whale-api-client/src/api/poolpair.ts
  packages/whale-api-client/src/index.ts
  packages/whale-api-client/src/whale.api.client.ts
  src/module.api/_module.ts
  src/module.api/cache/poolpair.info.cache.spec.ts
  src/module.api/cache/poolpair.info.cache.ts
  src/module.api/poolpair.controller.spec.ts
  src/module.api/poolpair.controller.ts
Labels: area/module-api, area/whale-api-client, kind/feature, priority/urgent-now

#90 oss-governance-project update due to board changes
  .github/workflows/oss-governance-project.yml
Labels: area/workflow, kind/chore

#49 added address.controller.ts
  .codeclimate.yml
  .github/workflows/defichain-dependencies.yml
  package-lock.json
  package.json
  packages/whale-api-client/__tests__/api/address.test.ts
  packages/whale-api-client/__tests__/stub.service.ts
  packages/whale-api-client/src/api/address.ts
  packages/whale-api-client/src/whale.api.response.ts
  src/e2e.module.ts
  src/module.api/address.controller.e2e.ts
  src/module.api/address.controller.spec.ts
  src/module.api/address.controller.ts
Labels: area/module-api, area/whale-api-client, area/workflow, kind/feature, priority/urgent-now

#93 added transactions/estimate-fee endpoint
  .github/workflows/defichain-dependencies.yml
  package-lock.json
  packages/whale-api-client/__tests__/api/poolpair.test.ts
  packages/whale-api-client/__tests__/api/transaction.test.ts
  packages/whale-api-client/src/api/transactions.ts
  src/module.api/health.e2e.ts
  src/module.api/transactions.controller.spec.ts
  src/module.api/transactions.controller.ts
  src/module.model/raw.block.spec.ts
Labels: area/module-api, area/module-model, area/whale-api-client, area/workflow, kind/feature

#95 packages/whale-api-wallet
  .github/workflows/defichain-dependencies.yml
  package-lock.json
  packages/whale-api-wallet/README.md
  packages/whale-api-wallet/package.json
  packages/whale-api-wallet/src/feerate.ts
  packages/whale-api-wallet/src/index.ts
  packages/whale-api-wallet/src/prevout.ts
  packages/whale-api-wallet/src/wallet.ts
  packages/whale-api-wallet/tsconfig.json
Labels: area/whale-api-wallet, area/workflow, kind/feature

#30 Add v1/:network/tokens/:id endpoint
  packages/whale-api-client/__tests__/api/poolpair.test.ts
  packages/whale-api-client/__tests__/api/tokens.test.ts
  packages/whale-api-client/src/api/tokens.ts
  packages/whale-api-client/src/index.ts
  packages/whale-api-client/src/whale.api.client.ts
  src/module.api/_module.ts
  src/module.api/poolpair.controller.ts
  src/module.api/tokens.controller.spec.ts
  src/module.api/tokens.controller.ts
Labels: area/module-api, area/whale-api-client, kind/feature, priority/urgent-now

#102 Change toEqual and toBe to toStrictEqual
  packages/whale-api-client/__tests__/api/address.test.ts
  packages/whale-api-client/__tests__/api/poolpair.test.ts
  packages/whale-api-client/__tests__/api/rpc.test.ts
  packages/whale-api-client/__tests__/api/tokens.test.ts
  packages/whale-api-client/__tests__/api/transaction.test.ts
  packages/whale-api-client/__tests__/errors/api.error.test.ts
  packages/whale-api-client/__tests__/errors/api.validation.exception.test.ts
  packages/whale-api-client/__tests__/errors/client.timeout.exception.test.ts
  packages/whale-api-client/__tests__/stub.service.ts
  packages/whale-api-client/__tests__/whale.api.response.test.ts
  packages/whale-api-client/__tests__/whale.rpc.client.test.ts
  src/e2e.module.ts
  src/module.api/_core/api.paged.response.spec.ts
  src/module.api/address.controller.e2e.ts
  src/module.api/address.controller.spec.ts
  src/module.api/cache/poolpair.info.cache.spec.ts
  src/module.api/cache/token.info.cache.spec.ts
  src/module.api/guards/network.guard.e2e.ts
  src/module.api/health.e2e.ts
  src/module.api/poolpair.controller.spec.ts
  src/module.api/rpc.controller.spec.ts
  src/module.api/tokens.controller.spec.ts
  src/module.api/transactions.controller.spec.ts
  src/module.database/database.spec/specifications.ts
  src/module.database/index.spec.ts
  src/module.indexer/indexer.spec/block.spec.ts
  src/module.indexer/indexer.spec/script.spec.ts
  src/module.indexer/indexer.spec/transaction.spec.ts
  src/module.model/_hex.encoder.spec.ts
  src/module.model/block.spec.ts
  src/module.model/raw.block.spec.ts
  src/module.model/script.activity.spec.ts
Labels: area/module-api, area/module-database, area/module-indexer, area/module-model, area/whale-api-client, kind/refactor

#104 updated & cleanup `.github/workflows`
  .github/workflows/ci.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/defichain-dependencies.yml
  .github/workflows/oss-governance-bot.yml
  .github/workflows/oss-governance-labeler.yml
  .github/workflows/oss-governance-project.yml
  .github/workflows/release-publish.yml
  .github/workflows/sync-labels.yml
Labels: area/workflow, kind/chore

#106 added better/faster oss-governance-project automation
  .github/workflows/oss-governance-project-issue.yml
  .github/workflows/oss-governance-project-pr.yml
  .github/workflows/oss-governance-project.yml
Labels: area/workflow, kind/chore

#107 refactor type & deps update
  .github/dependabot.yml
  __sanity__/docker-compose.yml
  packages/whale-api-client/src/index.ts
Labels: area/whale-api-client, area/workflow, kind/refactor

#109 refactor module file name for consistency
  src/app.module.ts
  src/module.api/address.controller.spec.ts
  src/module.database/_module.spec.ts
  src/module.database/_module.ts
  src/module.defid/_module.ts
  src/module.health/_module.ts
  src/module.indexer/_module.ts
  src/module.indexer/indexer.spec/_testing.module.ts
Labels: area/module-api, area/module-database, area/module-defid, area/module-health, area/module-indexer, kind/refactor

#120 rename inconsistent *HealthIndicator to *ProbeIndicator
  src/module.api/health.controller.ts
  src/module.defid/_module.ts
  src/module.defid/defid.indicator.ts
Labels: area/module-api, area/module-defid, kind/refactor

#122 added new network playground
  package.json
  packages/whale-api-client/src/whale.api.client.ts
  src/module.api/guards/network.guard.ts
Labels: area/module-api, area/whale-api-client, kind/feature

#125 project governance to auto move card based on priority label
  .github/workflows/oss-governance-project-issue.yml
Labels: area/workflow

#129 enabled cors and fix publish script
  .github/workflows/release-publish.yml
  src/main.ts
Labels: area/workflow, kind/chore

#133 level db to use a fixed database in production
  src/main.ts
  src/module.database/provider.level/module.ts
Labels: area/module-database, kind/chore
