Repository JellyfishSDK/whale, pull requests merged in 2021-11, with the labels that each got.

#509 Bump jellyfish to v0.49.4 and attempt to fix dependabot auto bumping
  package-lock.json
  package.json
  packages/whale-api-client/package.json
  packages/whale-api-wallet/package.json
Labels: kind/dependencies, area/whale-api-client, area/whale-api-wallet

#496 fixed flaky Masternode test due to race delete/write
  packages/whale-api-client/__tests__/api/masternodes.test.ts
  src/module.api/masternode.controller.e2e.ts
  src/module.database/provider.level/level.database.ts
Labels: kind/fix, area/module-database, area/module-api, area/whale-api-client

#518 revert level to 7.0.0 due to possible M1 regression
  package-lock.json
  package.json
Labels: kind/fix

#519 enforce strict dependencies resolution for level deps
  package-lock.json
  package.json
Labels: kind/fix

#424 Add loan vault get and list endpoints
  .github/dependabot.yml
  packages/whale-api-client/__tests__/api/address.vault.test.ts
  packages/whale-api-client/__tests__/api/loan.vault.test.ts
  packages/whale-api-client/__tests__/api/masternodes.test.ts
  packages/whale-api-client/src/api/address.ts
  packages/whale-api-client/src/api/loan.ts
  src/module.api/_module.ts
  src/module.api/address.controller.spec.ts
  src/module.api/address.controller.ts
  src/module.api/loan.controller.ts
  src/module.api/loan.vault.controller.e2e.ts
  src/module.api/loan.vault.service.ts
  src/module.api/masternode.controller.e2e.ts
  src/module.indexer/model/dftx/create.masternode.spec.ts
Labels: kind/feature, area/workflow, area/module-api, area/module-indexer, area/whale-api-client

#528 bump node to v16
  .github/workflows/ci.yml
  .github/workflows/defichain-dependencies.yml
  .github/workflows/nestjs-dependencies.yml
  .github/workflows/release-publish.yml
  Dockerfile
  src/module.api/loan.controller.ts
Labels: kind/dependencies, area/workflow, area/module-api

#532 Bump jellyfish to 0.55.0
  package-lock.json
  package.json
  packages/whale-api-client/package.json
  packages/whale-api-wallet/package.json
Labels: kind/dependencies, area/whale-api-client, area/whale-api-wallet

#537 Bump jellyfish to 2.0.0
  package-lock.json
  package.json
  packages/whale-api-client/__tests__/api/prices.test.ts
  packages/whale-api-client/__tests__/api/tokens.test.ts
  packages/whale-api-client/package.json
  packages/whale-api-wallet/package.json
  src/module.api/token.controller.e2e.ts
  src/module.api/token.controller.spec.ts
  src/module.indexer/model/dftx/oracle.e2e.ts
Labels: kind/dependencies, area/module-api, area/module-indexer, area/whale-api-client, area/whale-api-wallet

#538 Reinstate oracle price interval tests
  packages/whale-api-client/__tests__/api/prices.test.ts
  src/module.indexer/model/dftx/oracle.e2e.ts
Labels: kind/chore, area/module-indexer, area/whale-api-client

#542 disabled CreateToken/CreatePoolPair/UpdatePoolPair operations
  src/module.indexer/model/dftx.indexer.ts
  src/module.indexer/model/dftx/create.poolpair.spec.ts
  src/module.indexer/model/dftx/create.token.spec.ts
  src/module.indexer/model/dftx/update.poolpair.spec.ts
Labels: kind/fix, area/module-indexer

#544 Add `net` data into `stats` endpoint
  packages/whale-api-client/__tests__/api/stats.test.ts
  packages/whale-api-client/src/api/stats.ts
  src/module.api/stats.controller.ts
Labels: kind/feature, area/module-api, area/whale-api-client

#543 Bump jellyfish to v2.1.1
  package-lock.json
  package.json
  packages/whale-api-client/package.json
  packages/whale-api-wallet/package.json
Labels: kind/dependencies, area/whale-api-client, area/whale-api-wallet

#545 fix USD TVL calculation by making it more flexible for FC update
  .idea/dictionaries/fuxing.xml
  packages/whale-api-client/__tests__/api/poolpairs.test.ts
  packages/whale-api-client/__tests__/api/stats.test.ts
  packages/whale-api-client/src/api/stats.ts
  src/module.api/poolpair.controller.e2e.ts
  src/module.api/poolpair.service.ts
  src/module.api/stats.controller.ts
Labels: kind/fix, area/module-api, area/whale-api-client

#547 denormalize loan scheme data
  packages/whale-api-client/__tests__/api/address.vault.test.ts
  packages/whale-api-client/__tests__/api/loan.vault.test.ts
  packages/whale-api-client/src/api/loan.ts
  src/module.api/cache/defid.cache.ts
  src/module.api/cache/global.cache.ts
  src/module.api/loan.vault.controller.e2e.ts
  src/module.api/loan.vault.service.ts
Labels: kind/feature, area/module-api, area/whale-api-client

#546 `dependabot.yml` allowed defichain deps to be auto updated
  .github/dependabot.yml
Labels: kind/dependencies, area/workflow

#561 size refactor on core and vaults
  packages/whale-api-client/__tests__/api/blocks.test.ts
  src/module.api/_core/api.query.ts
  src/module.api/loan.vault.service.ts
Labels: kind/chore, area/module-api, area/whale-api-client

#562 refactor displaySymbol DUSD to be parsed the same as DFI as it's a native token
  src/module.api/address.controller.ts
  src/module.api/loan.vault.service.ts
  src/module.api/token.controller.ts
Labels: kind/fix, area/module-api

#559 Bump jellyfish from 2.1.1 to 2.4.0
  package-lock.json
  package.json
  packages/whale-api-client/package.json
  packages/whale-api-wallet/package.json
Labels: kind/dependencies, area/whale-api-client, area/whale-api-wallet

#433 `OraclePriceActive` `ActivePriceIndexer`
  packages/whale-api-client/__tests__/api/masternodes.test.ts
  packages/whale-api-client/__tests__/api/prices.test.ts
  packages/whale-api-client/src/api/prices.ts
  src/module.api/price.controller.ts
  src/module.indexer/_module.ts
  src/module.indexer/model/_main.ts
  src/module.indexer/model/active.price.ts
  src/module.model/_module.ts
  src/module.model/oracle.price.active.ts
Labels: priority/urgent-now, kind/feature, area/module-api, area/module-indexer, area/module-model, area/whale-api-client

#565 include activePrice in /loans/tokens and /loans/collaterals
  package.json
  packages/whale-api-client/__tests__/api/loan.collateral.test.ts
  packages/whale-api-client/__tests__/api/loan.token.test.ts
  packages/whale-api-client/__tests__/api/prices.test.ts
  packages/whale-api-client/src/api/loan.ts
  src/module.api/loan.collateral.controller.e2e.ts
  src/module.api/loan.controller.ts
  src/module.api/loan.token.controller.e2e.ts
Labels: kind/feature, area/module-api, area/whale-api-client

#566 add ActivePrice to LoanTokenAmount for convenience
  packages/whale-api-client/__tests__/api/loan.vault.test.ts
  packages/whale-api-client/__tests__/api/prices.test.ts
  packages/whale-api-client/src/api/loan.ts
  src/module.api/loan.vault.service.ts
Labels: kind/feature, area/module-api, area/whale-api-client

#582 Bump jellyfish from 2.4.0 to 2.5.0
  .github/dependabot.yml
  package-lock.json
  package.json
  packages/whale-api-client/package.json
  packages/whale-api-wallet/package.json
Labels: kind/dependencies, area/workflow, area/whale-api-client, area/whale-api-wallet

#583 fix display symbol for DUSD
  src/module.api/poolpair.controller.ts
Labels: kind/fix, area/module-api

#574 Change symbol trimming based on FC height
  src/module.indexer/model/dftx/create.poolpair.ts
Labels: kind/feature, area/module-indexer

#584 update type of status
  package-lock.json
  package.json
  packages/whale-api-client/src/api/poolpairs.ts
Labels: kind/fix, area/whale-api-client

#590 add CODEOWNERS for indexer and model
  .github/CODEOWNERS
Labels: kind/chore

#591 updated dependabot to ignore defichain dependency
  .github/dependabot.yml
Labels: kind/dependencies, area/workflow

#588 Fix token mapping
  src/module.indexer/model/dftx.indexer.ts
  src/module.indexer/model/dftx/_module.ts
  src/module.indexer/model/dftx/create.poolpair.spec.ts
  src/module.indexer/model/dftx/create.token.spec.ts
  src/module.indexer/model/dftx/set.loan.token.spec.ts
  src/module.indexer/model/dftx/set.loan.token.ts
  src/module.indexer/model/dftx/update.poolpair.spec.ts
Labels: kind/fix, area/module-indexer

#585 Add owner address to `oracle-indexer`
  packages/whale-api-client/__tests__/api/oracles.test.ts
  src/module.indexer/model/dftx/appoint.oracle.ts
  src/module.indexer/model/dftx/appointed.oracle.spec.ts
  src/module.indexer/model/dftx/remove.oracle.spec.ts
  src/module.indexer/model/dftx/remove.oracle.ts
  src/module.indexer/model/dftx/update.oracle.spec.ts
  src/module.indexer/model/dftx/update.oracle.ts
  src/module.model/oracle.history.ts
  src/module.model/oracle.ts
Labels: kind/feature, area/module-indexer, area/module-model, area/whale-api-client

#592 add global delay for waitForIndexedHeight due to race condition
  packages/whale-api-client/__tests__/api/masternodes.test.ts
  packages/whale-api-client/__tests__/api/prices.test.ts
  packages/whale-api-client/__tests__/stub.service.ts
  src/e2e.module.ts
  src/module.api/address.controller.e2e.ts
  src/module.api/masternode.controller.e2e.ts
  src/module.indexer/model/dftx/create.masternode.spec.ts
Labels: kind/fix, area/module-api, area/module-indexer, area/whale-api-client

#593 bump jellyfish deps to 2.6.0 globally
  package-lock.json
  packages/whale-api-client/package.json
  packages/whale-api-wallet/package.json
Labels: kind/dependencies, area/whale-api-client, area/whale-api-wallet

#576 Refactor `active-price` indexer + new tests
  packages/whale-api-client/__tests__/api/prices.test.ts
  src/module.indexer/_module.ts
  src/module.indexer/model/_main.ts
  src/module.indexer/model/dftx.indexer.ts
  src/module.indexer/model/dftx/_module.ts
  src/module.indexer/model/dftx/active.price.ts
Labels: kind/chore, area/module-indexer, area/whale-api-client

#598 removed ts-standard to use eslint directly
  .eslintrc
  .github/workflows/ci.yml
  .idea/codeStyles/Project.xml
  .idea/dictionaries/fuxing.xml
  package-lock.json
  package.json
  packages/whale-api-client/__tests__/errors/index.test.ts
  packages/whale-api-client/src/version.ts
  src/app.configuration.ts
  src/module.api/cache/defid.cache.ts
  src/module.api/cache/semaphore.cache.spec.ts
  src/module.api/masternode.controller.ts
  src/module.api/masternode.service.ts
  src/module.api/pipes/api.validation.pipe.ts
  src/module.api/stats.controller.ts
  src/module.database/_module.spec.ts
  src/module.indexer/model/dftx/create.masternode.ts
  src/module.indexer/model/dftx/create.poolpair.ts
  src/module.indexer/model/transaction.vin.ts
  src/module.model/script.activity.spec.ts
  src/module.model/token.ts
Labels: kind/chore, area/workflow, area/module-database, area/module-api, area/module-indexer, area/module-model, area/whale-api-client

#601 add decentralized loan stats
  package-lock.json
  package.json
  packages/whale-api-client/__tests__/api/stats.test.ts
  packages/whale-api-client/package.json
  packages/whale-api-client/src/api/stats.ts
  packages/whale-api-wallet/package.json
  src/module.api/poolpair.service.ts
  src/module.api/stats.controller.ts
Labels: kind/feature, area/module-api, area/whale-api-client, area/whale-api-wallet

#587 Add auction list endpoint
  packages/whale-api-client/__tests__/api/loan.auction.test.ts
  packages/whale-api-client/src/api/loan.ts
  src/module.api/loan.auction.controller.e2e.ts
  src/module.api/loan.controller.ts
  src/module.api/loan.vault.service.ts
Labels: kind/feature, area/module-api, area/whale-api-client

#597 Refactor `dftx.indexer`
  src/module.indexer/model/dftx.indexer.ts
  src/module.indexer/model/dftx/_abstract.ts
  src/module.indexer/model/dftx/active.price.ts
  src/module.indexer/model/dftx/appoint.oracle.ts
  src/module.indexer/model/dftx/create.masternode.ts
  src/module.indexer/model/dftx/create.poolpair.ts
  src/module.indexer/model/dftx/create.token.ts
  src/module.indexer/model/dftx/remove.oracle.ts
  src/module.indexer/model/dftx/resign.masternode.ts
  src/module.indexer/model/dftx/set.loan.token.ts
  src/module.indexer/model/dftx/set.oracle.data.interval.ts
  src/module.indexer/model/dftx/set.oracle.data.ts
  src/module.indexer/model/dftx/update.oracle.ts
  src/module.indexer/model/dftx/update.poolpair.ts
Labels: kind/feature, area/module-indexer

#613 update defid.probes.ts to use initialblockdownload
  src/module.defid/defid.probes.ts
Labels: kind/fix, area/module-defid

#623 Bump jellyfish to v2.9.0
  package-lock.json
  package.json
  packages/whale-api-client/package.json
  packages/whale-api-wallet/package.json
Labels: kind/dependencies, area/whale-api-client, area/whale-api-wallet

#624 moved prebuild into a script due to package.json parsing error in workflow
  packages/whale-api-client/package.json
  packages/whale-api-client/prebuild
Labels: kind/fix, area/whale-api-client

#625 Add highestBid returned object to vault and auction endpoints
  packages/whale-api-client/__tests__/api/loan.auction.test.ts
  packages/whale-api-client/src/api/loan.ts
  src/module.api/loan.auction.controller.e2e.ts
  src/module.api/loan.vault.service.ts
Labels: kind/fix, area/module-api, area/whale-api-client

#629 disable CCompositeSwap.OP_CODE on rawtx/send
  src/module.api/rawtx.controller.ts
Labels: kind/chore, area/module-api

#630 add validation for send
  src/module.api/rawtx.controller.spec.ts
  src/module.api/rawtx.controller.ts
Labels: kind/chore, area/module-api

#634 fix defichain-dependencies.yml not updating all package.json
  .github/workflows/defichain-dependencies.yml
Labels: kind/fix, area/workflow
