Repository JellyfishSDK/whale, pull requests merged in 2021-09, with the labels that each got.

#376 Added `displaySymbol` to address controller
  packages/whale-api-client/src/api/address.ts
  src/module.api/address.controller.e2e.ts
  src/module.api/address.controller.spec.ts
  src/module.api/address.controller.ts
Labels: kind/feature, area/module-api, area/whale-api-client

#385 `/blocks` & `/transactions` improvement
  packages/whale-api-client/__tests__/api/blocks.test.ts
  packages/whale-api-client/__tests__/api/transaction.test.ts
  packages/whale-api-client/src/api/blocks.ts
  packages/whale-api-client/src/api/transactions.ts
  src/module.api/block.controller.e2e.ts
  src/module.api/block.controller.ts
  src/module.api/transaction.controller.e2e.ts
  src/module.api/transaction.controller.ts
  src/module.indexer/model/block.ts
  src/module.indexer/model/transaction.ts
  src/module.model/block.spec.ts
  src/module.model/block.ts
  src/module.model/transaction.ts
Labels: kind/feature, area/module-api, area/module-indexer, area/module-model, area/whale-api-client

#411 fix oss-governance-project-pr.yml
  .github/workflows/oss-governance-project-pr.yml
Labels: kind/fix, area/workflow

#404 Added block difficulty to stat endpoint
  packages/whale-api-client/__tests__/api/stats.test.ts
  packages/whale-api-client/src/api/stats.ts
  src/module.api/stats.controller.ts
Labels: kind/feature, area/module-api, area/whale-api-client

#373 Index `create.token`
  src/module.indexer/model/dftx.indexer.ts
  src/module.indexer/model/dftx/_module.ts
  src/module.indexer/model/dftx/create.token.spec.ts
  src/module.indexer/model/dftx/create.token.ts
  src/module.indexer/rpc.block.provider.ts
  src/module.model/_module.ts
  src/module.model/token.ts
Labels: kind/feature, area/module-indexer, area/module-model

#425 Add jellyfish-testing package to whale
  package-lock.json
  package.json
Labels: kind/feature
