Repository JellyfishSDK/whale, pull requests merged in 2021-08, with the labels that each got.

#285 typescript template string is a relatively new feature, reverting to just stirng
  packages/whale-api-client/src/whale.api.client.ts
Labels: area/whale-api-client, kind/refactor

#282 Included `time` and `medianTime` to endpoints: `address/*` & `blocks/transaction`
  packages/whale-api-client/__tests__/api/address.test.ts
  packages/whale-api-client/__tests__/api/blocks.test.ts
  packages/whale-api-client/__tests__/api/transaction.test.ts
  packages/whale-api-client/src/api/address.ts
  packages/whale-api-client/src/api/transactions.ts
  src/module.api/address.controller.e2e.ts
  src/module.api/transaction.controller.e2e.ts
  src/module.indexer/model/script.activity.ts
  src/module.indexer/model/script.aggregation.ts
  src/module.indexer/model/script.unspent.ts
  src/module.indexer/model/transaction.ts
  src/module.model/script.activity.spec.ts
  src/module.model/script.activity.ts
  src/module.model/script.aggregation.ts
  src/module.model/script.unspent.ts
  src/module.model/transaction.ts
Labels: area/module-api, area/module-indexer, area/module-model, area/whale-api-client, kind/feature

#293 Added SemaphoreCache to limit concurrency for certain expensive operations
  package-lock.json
  package.json
  src/module.api/_module.ts
  src/module.api/cache/global.cache.ts
  src/module.api/cache/semaphore.cache.spec.ts
  src/module.api/cache/semaphore.cache.ts
Labels: area/module-api, kind/chore

#295 Refactor `TVL` calculation to use `SemaphoreCache`
  packages/whale-api-client/__tests__/api/poolpairs.test.ts
  src/module.api/poolpair.controller.e2e.ts
  src/module.api/poolpair.controller.spec.ts
  src/module.api/poolpair.controller.ts
  src/module.api/poolpair.service.ts
Labels: area/module-api, area/whale-api-client, kind/refactor

#297 `defichain-dependencies.yml` to bump jellyfish/whale/playground individually
  .github/workflows/defichain-dependencies.yml
Labels: area/workflow, kind/chore

#300 Add transform decorator to limit the size property of PaginationQuery to 60
  packages/whale-api-client/__tests__/api/blocks.test.ts
  src/module.api/_core/api.query.ts
Labels: area/module-api, area/whale-api-client, kind/feature

#299 Add `/stats` endpoint
  packages/whale-api-client/__tests__/api/stats.test.ts
  packages/whale-api-client/src/api/stats.ts
  packages/whale-api-client/src/index.ts
  packages/whale-api-client/src/whale.api.client.ts
  src/module.api/_module.ts
  src/module.api/poolpair.service.ts
  src/module.api/stats.controller.ts
Labels: area/module-api, area/whale-api-client, kind/feature

#301 fixed getDfTxTransactions so that it only parse OP_DEFI_TX if present
  src/module.indexer/model/dftx.indexer.ts
Labels: area/module-indexer, kind/fix

#303 Bump @nestjs dependencies
  package-lock.json
  package.json
Labels: kind/dependencies

#306 fixed `@defichain/whale-api-client` deps linking
  package-lock.json
Labels: kind/fix

#313 refactor `/transactions`, `/rawtx` & `/fee` endpoints
  .idea/dictionaries/fuxing.xml
  packages/whale-api-client/__tests__/api/blocks.test.ts
  packages/whale-api-client/__tests__/api/fee.test.ts
  packages/whale-api-client/__tests__/api/rawtx.test.ts
  packages/whale-api-client/__tests__/api/transaction.test.ts
  packages/whale-api-client/src/api/blocks.ts
  packages/whale-api-client/src/api/fee.ts
  packages/whale-api-client/src/api/rawtx.ts
  packages/whale-api-client/src/api/transactions.ts
  packages/whale-api-client/src/index.ts
  packages/whale-api-client/src/whale.api.client.ts
  packages/whale-api-wallet/src/feerate.ts
  src/module.api/_module.ts
  src/module.api/block.controller.e2e.ts
  src/module.api/block.controller.ts
  src/module.api/fee.controller.e2e.ts
  src/module.api/fee.controller.spec.ts
  src/module.api/fee.controller.ts
  src/module.api/masternode.controller.e2e.ts
  src/module.api/masternode.controller.spec.ts
  src/module.api/masternode.controller.ts
  src/module.api/oracle.controller.ts
  src/module.api/price.controller.ts
  src/module.api/rawtx.controller.e2e.ts
  src/module.api/rawtx.controller.spec.ts
  src/module.api/rawtx.controller.ts
  src/module.api/token.controller.e2e.ts
  src/module.api/token.controller.spec.ts
  src/module.api/token.controller.ts
  src/module.api/transaction.controller.e2e.ts
  src/module.api/transaction.controller.spec.ts
  src/module.api/transaction.controller.ts
Labels: area/module-api, area/whale-api-client, area/whale-api-wallet, kind/refactor

#316 fixed ApiPagedResponse.nextToken to just return `string | undefined`
  packages/whale-api-client/src/whale.api.response.ts
Labels: area/whale-api-client, kind/fix

#317 Add more test units to validate Oracle indexers result with Oracle rpcs result
  src/module.indexer/model/dftx/appointed.oracle.spec.ts
  src/module.indexer/model/dftx/remove.oracle.spec.ts
  src/module.indexer/model/dftx/set.oracle.data.spec.ts
  src/module.indexer/model/dftx/update.oracle.spec.ts
Labels: area/module-indexer, kind/feature

#319 added `feed?: OraclePriceFeed` in PriceOracle
  packages/whale-api-client/__tests__/api/prices.test.ts
  packages/whale-api-client/src/api/prices.ts
  src/module.api/price.controller.ts
Labels: area/module-api, area/whale-api-client, kind/feature

#318 MainDfTxIndexer to log error instead of crashing to prevent indexer stall
  src/module.indexer/model/dftx.indexer.ts
Labels: area/module-indexer, kind/chore

#328 added logging to ExceptionInterceptor
  src/module.api/cache/defid.cache.spec.ts
  src/module.api/cache/defid.cache.ts
  src/module.api/cache/global.cache.ts
  src/module.api/cache/semaphore.cache.ts
  src/module.api/interceptors/exception.interceptor.ts
Labels: kind/refactor, area/module-api

#329 Bump nestjs deps, set dependabot.yml day to thursday
  .github/dependabot.yml
  package-lock.json
  package.json
Labels: kind/dependencies, area/workflow

#323 Add basic APR calculation to `poolpair-controller`
  packages/whale-api-client/__tests__/api/poolpairs.test.ts
  packages/whale-api-client/src/api/poolpairs.ts
  src/module.api/poolpair.controller.e2e.ts
  src/module.api/poolpair.controller.spec.ts
  src/module.api/poolpair.controller.ts
  src/module.api/poolpair.service.ts
Labels: kind/feature, area/module-api, area/whale-api-client

#331 reconfigure probes to unhealthy if defid blocks are more than 4 headers behind
  src/module.api/actuator.e2e.ts
  src/module.defid/defid.probes.ts
  src/module.model/_model.probes.ts
Labels: kind/fix, area/module-api, area/module-defid, area/module-model

#332 added a/b symbol for PoolPairData
  packages/whale-api-client/__tests__/api/poolpairs.test.ts
  packages/whale-api-client/src/api/poolpairs.ts
  src/module.api/poolpair.controller.e2e.ts
  src/module.api/poolpair.controller.spec.ts
  src/module.api/poolpair.controller.ts
Labels: kind/feature, area/module-api, area/whale-api-client

#334 prefix version can now be overridden in production
  packages/whale-api-client/src/api/address.ts
  packages/whale-api-client/src/api/blocks.ts
  packages/whale-api-client/src/api/tokens.ts
  packages/whale-api-client/src/whale.api.client.ts
  src/app.configuration.ts
  src/app.module.ts
  src/version.e2e.ts
Labels: kind/feature, area/whale-api-client

#339 fix WhaleApiClient options to create a new options instead of assigning
  packages/whale-api-client/src/whale.api.client.ts
Labels: kind/fix, area/whale-api-client

#341 added -rpcworkqueue=512 to docker-compose.yml
  .github/CODEOWNERS
  .github/workflows/ci/docker-compose.yml
  src/module.api/interceptors/exception.interceptor.ts
Labels: kind/fix, area/workflow, area/module-api

#344 `create.masternode` `resign.masternode` `block.minted` indexers
  packages/whale-api-client/__tests__/api/masternodes.test.ts
  packages/whale-api-client/src/api/masternodes.ts
  src/e2e.module.ts
  src/module.api/_module.ts
  src/module.api/masternode.controller.e2e.ts
  src/module.api/masternode.controller.spec.ts
  src/module.api/masternode.controller.ts
  src/module.api/masternode.service.ts
  src/module.indexer/_module.ts
  src/module.indexer/model/_main.ts
  src/module.indexer/model/block.minted.ts
  src/module.indexer/model/dftx.indexer.ts
  src/module.indexer/model/dftx/_module.ts
  src/module.indexer/model/dftx/create.masternode.spec.ts
  src/module.indexer/model/dftx/create.masternode.ts
  src/module.indexer/model/dftx/resign.masternode.spec.ts
  src/module.indexer/model/dftx/resign.masternode.ts
  src/module.model/_module.ts
  src/module.model/masternode.ts
Labels: kind/feature, area/module-api, area/module-indexer, area/module-model, area/whale-api-client

#358 `masternode.stats` Indexer
  packages/whale-api-client/__tests__/api/stats.test.ts
  packages/whale-api-client/src/api/stats.ts
  src/module.api/stats.controller.ts
  src/module.indexer/model/dftx/create.masternode.spec.ts
  src/module.indexer/model/dftx/create.masternode.ts
  src/module.indexer/model/dftx/resign.masternode.spec.ts
  src/module.indexer/model/dftx/resign.masternode.ts
  src/module.model/_module.ts
  src/module.model/masternode.stats.ts
  src/module.model/masternode.ts
Labels: kind/feature, area/module-api, area/module-indexer, area/module-model, area/whale-api-client

#370 Add `displaySymbol`
  packages/whale-api-client/__tests__/api/poolpairs.test.ts
  packages/whale-api-client/__tests__/api/tokens.test.ts
  packages/whale-api-client/src/api/poolpairs.ts
  packages/whale-api-client/src/api/tokens.ts
  src/module.api/poolpair.controller.e2e.ts
  src/module.api/poolpair.controller.spec.ts
  src/module.api/poolpair.controller.ts
  src/module.api/token.controller.e2e.ts
  src/module.api/token.controller.spec.ts
  src/module.api/token.controller.ts
Labels: kind/chore, area/module-api, area/whale-api-client

#372 added workflow concurrency to cancel in progress
  .github/workflows/ci.yml
  .github/workflows/codeql-analysis.yml
Labels: kind/chore, area/workflow

#374 Fix block minted issue
  src/module.indexer/model/block.minted.e2e.ts
  src/module.indexer/model/block.minted.ts
  src/module.indexer/rpc.block.provider.spec.ts
  src/module.indexer/rpc.block.provider.ts
Labels: kind/fix, area/module-indexer
