Repository JellyfishSDK/whale, pull requests merged in 2021-12, with the labels that each got.

#635 remove oss-governance-project workflow we don't use them anymore
  .github/workflows/oss-governance-project-issue.yml
  .github/workflows/oss-governance-project-pr.yml
Labels: kind/chore, area/workflow

#636 update PaginationQuery default size to 60
  src/module.api/address.controller.ts
Labels: kind/chore, area/module-api

#638 Remove DUSD form internal DEX tracking
  packages/whale-api-client/__tests__/api/stats.test.ts
  src/module.api/poolpair.service.ts
Labels: kind/chore, area/module-api, area/whale-api-client

#639 LPS displaySymbol to be parsed on the server side
  packages/whale-api-client/__tests__/api/poolpairs.test.ts
  packages/whale-api-client/src/api/poolpairs.ts
  src/module.api/poolpair.controller.e2e.ts
  src/module.api/poolpair.controller.spec.ts
  src/module.api/poolpair.controller.ts
  src/module.api/token.controller.e2e.ts
  src/module.api/token.controller.spec.ts
  src/module.api/token.controller.ts
Labels: kind/chore, area/module-api, area/whale-api-client

#641 Get oracle by owner address
  packages/whale-api-client/__tests__/api/oracles.test.ts
  packages/whale-api-client/src/api/oracles.ts
  src/module.api/oracle.controller.ts
Labels: kind/feature, area/module-api, area/whale-api-client

#637 revert token-size changes
  src/module.api/address.controller.ts
Labels: kind/chore, area/module-api

#645 fix PoolPair APR calculation for Loan
  src/module.api/poolpair.controller.ts
  src/module.api/poolpair.service.ts
  src/module.api/stats.controller.ts
  src/module.api/subsidy.ts
Labels: kind/fix, area/module-api

#646 update stats invalidation timing
  src/module.api/stats.controller.ts
Labels: kind/chore, area/module-api

#654 log ApiException more extensively
  src/module.api/_core/api.error.ts
  src/module.api/interceptors/exception.interceptor.ts
Labels: kind/chore, area/module-api

#653 add shutdown hook for IndexerModule
  .idea/dictionaries/fuxing.xml
  src/e2e.module.ts
  src/main.ts
  src/module.indexer/_module.ts
  src/module.indexer/rpc.block.provider.ts
Labels: kind/chore, area/module-indexer

#649 Indexing 'placeAuctionBid' + listVaultAuctionHistory API
  packages/whale-api-client/__tests__/api/loan.auction.history.test.ts
  packages/whale-api-client/src/api/loan.ts
  src/e2e.module.ts
  src/module.api/loan.auction.history.e2e.ts
  src/module.api/loan.controller.ts
  src/module.api/loan.vault.service.ts
  src/module.indexer/model/dftx.indexer.ts
  src/module.indexer/model/dftx/_module.ts
  src/module.indexer/model/dftx/place.auction.bid.spec.ts
  src/module.indexer/model/dftx/place.auction.bid.ts
  src/module.model/_module.ts
  src/module.model/vault.auction.batch.history.ts
Labels: kind/feature, area/module-api, area/module-indexer, area/module-model, area/whale-api-client

#664 set /rawtx/send defaultMaxFeeRate to 0.1
  packages/whale-api-client/__tests__/api/rawtx.test.ts
  src/module.api/rawtx.controller.ts
Labels: kind/fix, area/module-api, area/whale-api-client

#666 add `ListAccountHistory` API
  packages/whale-api-client/__tests__/api/account.history.test.ts
  packages/whale-api-client/src/api/address.ts
  src/module.api/address.controller.e2e.ts
  src/module.api/address.controller.ts
Labels: kind/feature, area/module-api, area/whale-api-client

#675 Remove rewards from `listaccounthistory` API
  src/module.api/address.controller.e2e.ts
  src/module.api/address.controller.ts
Labels: kind/fix, area/module-api
