Repository JellyfishSDK/whale, pull requests merged in 2021-10, with the labels that each got.

#427 Add scaffolding code for loan
  package-lock.json
  package.json
  packages/whale-api-client/__tests__/api/loan_container.ts
  packages/whale-api-client/src/api/loan.ts
  packages/whale-api-client/src/whale.api.client.ts
  src/module.api/_module.ts
  src/module.api/loan.controller.ts
  src/module.api/loan_container.ts
Labels: kind/feature, area/module-api, area/whale-api-client

#431 Fixed transaction api pagination
  packages/whale-api-client/__tests__/api/transaction.test.ts
  src/module.api/transaction.controller.e2e.ts
  src/module.api/transaction.controller.ts
  src/module.model/transaction.vout.ts
Labels: kind/fix, area/module-api, area/module-model, area/whale-api-client

#375 `create.poolpair` `update.poolpair`
  src/module.indexer/model/dftx.indexer.ts
  src/module.indexer/model/dftx/_module.ts
  src/module.indexer/model/dftx/create.poolpair.spec.ts
  src/module.indexer/model/dftx/create.poolpair.ts
  src/module.indexer/model/dftx/create.token.ts
  src/module.indexer/model/dftx/update.poolpair.spec.ts
  src/module.indexer/model/dftx/update.poolpair.ts
  src/module.model/_module.ts
  src/module.model/poolpair.token.ts
  src/module.model/poolpair.ts
  src/module.model/token.ts
Labels: kind/feature, area/module-indexer, area/module-model

#333 Updated JSDoc and tests
  packages/whale-api-client/__tests__/errors/index.test.ts
  packages/whale-api-client/src/api/oracles.ts
  packages/whale-api-client/src/api/prices.ts
  packages/whale-api-client/src/api/rawtx.ts
  packages/whale-api-client/src/api/rpc.ts
  packages/whale-api-client/src/api/transactions.ts
  packages/whale-api-client/src/whale.api.client.ts
Labels: kind/chore, area/whale-api-client

#283 `oracle.price.aggregated.interval`
  packages/whale-api-client/__tests__/api/prices.test.ts
  packages/whale-api-client/src/api/prices.ts
  src/module.api/price.controller.ts
  src/module.indexer/model/dftx.indexer.ts
  src/module.indexer/model/dftx/_module.ts
  src/module.indexer/model/dftx/oracle.e2e.ts
  src/module.indexer/model/dftx/set.oracle.data.interval.ts
  src/module.indexer/model/dftx/set.oracle.data.ts
  src/module.model/_module.ts
  src/module.model/oracle.price.aggregated.interval.ts
  src/module.model/oracle.price.aggregated.ts
Labels: kind/feature, area/module-api, area/module-indexer, area/module-model, area/whale-api-client

#437 add `vout.script.hex` for `transaction.vin.ts`
  package-lock.json
  packages/whale-api-client/src/api/transactions.ts
  src/module.indexer/model/transaction.vin.ts
  src/module.model/transaction.vin.ts
Labels: kind/feature, area/module-indexer, area/module-model, area/whale-api-client

#355 /stats emission
  .idea/dictionaries/fuxing.xml
  packages/whale-api-client/__tests__/api/stats.test.ts
  packages/whale-api-client/src/api/stats.ts
  src/module.api/stats.controller.spec.ts
  src/module.api/stats.controller.ts
Labels: kind/feature, area/module-api, area/whale-api-client
