Repository JellyfishSDK/whale, pull requests merged in 2021-06, with the labels that each got.

#138 'playground' keyword should not be part of whale distribution
  packages/whale-api-client/src/whale.api.client.ts
  src/module.api/guards/network.guard.ts
Labels: area/module-api, area/whale-api-client, kind/fix

#139 fix typo in `LEVEL_UP_LOCATION`
  .gitignore
  src/app.configuration.ts
  src/module.database/provider.level/module.ts
Labels: area/module-database, kind/fix

#143 removed invalid 'url' import
  packages/whale-api-client/src/whale.api.client.ts
Labels: area/whale-api-client, kind/chore

#146 updated CODEOWNERS
  .github/CODEOWNERS
  .github/workflows/oss-governance-project-pr.yml
  .idea/dictionaries/fuxing.xml
Labels: area/workflow, kind/chore

#150 fix invalidate loop unable to fix raw block
  src/module.indexer/indexer.ts
  src/module.indexer/model/_main.ts
Labels: area/module-indexer, kind/fix

#137 added prefix for cache
  src/module.api/_module.ts
  src/module.api/address.controller.spec.ts
  src/module.api/address.controller.ts
  src/module.api/cache/defid.cache.spec.ts
  src/module.api/cache/defid.cache.ts
  src/module.api/cache/global.cache.ts
  src/module.api/cache/poolpair.info.cache.spec.ts
  src/module.api/cache/poolpair.info.cache.ts
  src/module.api/cache/token.info.cache.spec.ts
  src/module.api/cache/token.info.cache.ts
  src/module.api/poolpair.controller.spec.ts
  src/module.api/poolpair.controller.ts
  src/module.api/token.controller.ts
  src/module.api/transaction.controller.ts
  src/module.defid/defid.indicator.ts
Labels: area/module-api, area/module-defid, kind/refactor

#152 fix invalidating loop with fetch block before updating status
  src/module.indexer/indexer.ts
Labels: area/module-indexer, kind/fix

#154 added polyfill for URLSearchParams
  package-lock.json
  packages/whale-api-client/package.json
  packages/whale-api-client/src/whale.api.client.ts
Labels: area/whale-api-client, kind/fix

#158 fix ArrayConstructor for functional chaining
  packages/whale-api-client/__tests__/whale.api.response.test.ts
  packages/whale-api-client/src/whale.api.response.ts
Labels: area/whale-api-client, kind/fix

#157 add 'playground' network type
  packages/whale-api-client/src/whale.api.client.ts
Labels: area/whale-api-client, kind/fix

#168 removed illegal `import { HttpStatus } from '@nestjs/common'` in packages
  packages/whale-api-client/src/errors/api.error.ts
Labels: area/whale-api-client, kind/fix

#169 improved @defichain/* update workflow
  .github/workflows/defichain-dependencies.yml
  package.json
Labels: area/workflow, kind/chore

#170 ncu will only create PR if there are changes
  .github/workflows/defichain-dependencies.yml
Labels: area/workflow, kind/chore

#172 prefixed version path to v0 to indicate beta release
  __sanity__/postman_collection.json
  packages/whale-api-client/__tests__/api/poolpair.test.ts
  packages/whale-api-client/__tests__/api/rpc.test.ts
  packages/whale-api-client/__tests__/api/tokens.test.ts
  packages/whale-api-client/__tests__/api/transaction.test.ts
  packages/whale-api-client/__tests__/stub.client.ts
  packages/whale-api-client/src/whale.api.client.ts
  src/module.api/_core/api.version.ts
  src/module.api/_module.ts
  src/module.api/address.controller.ts
  src/module.api/guards/network.guard.e2e.ts
  src/module.api/guards/network.guard.ts
  src/module.api/poolpair.controller.ts
  src/module.api/rpc.controller.ts
  src/module.api/token.controller.ts
  src/module.api/transaction.controller.ts
Labels: area/module-api, area/whale-api-client, kind/feature

#174 allow port to be override to allow flexible deployment
  src/main.ts
Labels: kind/feature

#181 add curl for docker healthcheck capability
  Dockerfile
Labels: kind/chore

#182 rename _health to _actuator to allow more features to be added for service controllability
  .github/workflows/ci.yml
  __sanity__/postman_collection.json
  src/module.api/_module.ts
  src/module.api/actuator.controller.ts
  src/module.api/actuator.e2e.ts
Labels: area/module-api, area/workflow, kind/feature

#184 added model probes indicator for actuator for healthcheck
  src/module.api/actuator.controller.ts
  src/module.api/actuator.e2e.ts
  src/module.defid/_module.ts
  src/module.defid/defid.probes.ts
  src/module.model/_model.probes.ts
  src/module.model/_module.ts
Labels: area/module-api, area/module-defid, area/module-model, kind/chore

#190 updated defid probes to 'not connected to any peer'
  src/module.defid/defid.probes.ts
Labels: area/module-defid, kind/fix
