Repository JellyfishSDK/whale, pull requests merged in 2022-02, with the labels that each got.

#748 chore(health-check): readiness synced blocks are more than 2 blocks behind
  src/module.model/_model.probes.ts
Labels: kind/chore, area/module-model

#746 chore(database): revert LevelDatabase options due to memory usage
  src/module.database/provider.level/level.database.ts
Labels: kind/chore, area/module-database

#690 Drop unused/unexposed database and indexer
  src/module.indexer/model/dftx.indexer.ts
  src/module.indexer/model/dftx/_module.ts
  src/module.indexer/model/dftx/create.poolpair.spec.ts
  src/module.indexer/model/dftx/create.poolpair.ts
  src/module.indexer/model/dftx/create.token.spec.ts
  src/module.indexer/model/dftx/create.token.ts
  src/module.indexer/model/dftx/set.loan.token.spec.ts
  src/module.indexer/model/dftx/set.loan.token.ts
  src/module.indexer/model/dftx/update.poolpair.spec.ts
  src/module.indexer/model/dftx/update.poolpair.ts
  src/module.indexer/rpc.block.provider.ts
  src/module.model/_module.ts
  src/module.model/poolpair.token.ts
  src/module.model/poolpair.ts
  src/module.model/token.ts
Labels: kind/feature, area/module-indexer, area/module-model

#749 feat(indexer): deprecated SetOracleDataIntervalIndexer Indexer & API
  packages/whale-api-client/__tests__/api/prices.test.ts
  packages/whale-api-client/src/api/prices.ts
  src/module.api/_core/api.paged.response.ts
  src/module.api/price.controller.ts
  src/module.indexer/model/dftx.indexer.ts
  src/module.indexer/model/dftx/_module.ts
  src/module.indexer/model/dftx/oracle.e2e.ts
  src/module.indexer/model/dftx/set.oracle.data.interval.ts
  src/module.model/_module.ts
  src/module.model/oracle.price.aggregated.interval.ts
Labels: kind/chore, area/module-api, area/module-indexer, area/module-model, area/whale-api-client

#751 feature(json-rpc): expose whitelisted defid JSON RPC 1.0
  .idea/dictionaries/fuxing.xml
  package-lock.json
  packages/tsconfig.json
  packages/whale-api-client/__tests__/stub.client.ts
  packages/whale-api-client/__tests__/whale.rpc.client.test.ts
  packages/whale-api-client/package.json
  packages/whale-api-client/src/api/rpc.ts
  packages/whale-api-client/src/whale.rpc.client.ts
  src/module.api/_core/api.paged.response.ts
  src/module.api/_core/api.response.ts
  src/module.api/interceptors/response.interceptor.ts
  src/module.api/rpc.controller.spec.ts
  src/module.api/rpc.controller.ts
Labels: kind/feature, area/module-api, area/whale-api-client

#754 Revert "Drop unused/unexposed database and indexer (#690)"
  src/module.indexer/model/dftx.indexer.ts
  src/module.indexer/model/dftx/_module.ts
  src/module.indexer/model/dftx/create.poolpair.spec.ts
  src/module.indexer/model/dftx/create.poolpair.ts
  src/module.indexer/model/dftx/create.token.spec.ts
  src/module.indexer/model/dftx/create.token.ts
  src/module.indexer/model/dftx/set.loan.token.spec.ts
  src/module.indexer/model/dftx/set.loan.token.ts
  src/module.indexer/model/dftx/update.poolpair.spec.ts
  src/module.indexer/model/dftx/update.poolpair.ts
  src/module.indexer/rpc.block.provider.ts
  src/module.model/_module.ts
  src/module.model/poolpair.token.ts
  src/module.model/poolpair.ts
  src/module.model/token.ts
Labels: kind/feature, area/module-indexer, area/module-model

#757 feat(rpc): add getburninfo to MethodWhitelist
  .idea/dictionaries/fuxing.xml
  src/module.api/rpc.controller.ts
Labels: kind/chore, area/module-api

#759 fix(indexer): PoolPair & Token Indexer
  packages/whale-api-client/__tests__/api/poolpairs.test.ts
  src/e2e.module.ts
  src/module.api/poolpair.controller.spec.ts
  src/module.api/poolpair.controller.ts
  src/module.api/poolpair.service.ts
  src/module.api/rawtx.controller.spec.ts
  src/module.indexer/model/dftx.indexer.ts
  src/module.indexer/model/dftx/_abstract.ts
  src/module.indexer/model/dftx/_module.ts
  src/module.indexer/model/dftx/create.pool.pair.spec.ts
  src/module.indexer/model/dftx/create.pool.pair.ts
  src/module.indexer/model/dftx/create.token.spec.ts
  src/module.indexer/model/dftx/create.token.ts
  src/module.indexer/model/dftx/pool.pair.e2e.ts
  src/module.indexer/model/dftx/set.loan.token.spec.ts
  src/module.indexer/model/dftx/set.loan.token.ts
  src/module.indexer/model/dftx/update.pool.pair.spec.ts
  src/module.indexer/model/dftx/update.pool.pair.ts
  src/module.indexer/model/dftx/update.poolpair.ts
  src/module.indexer/rpc.block.provider.ts
  src/module.model/_module.ts
  src/module.model/pool.pair.history.ts
  src/module.model/pool.pair.token.ts
  src/module.model/poolpair.ts
  src/module.model/token.ts
Labels: kind/fix, area/module-api, area/module-indexer, area/module-model, area/whale-api-client

#762 minor changes and optimization for pool swap lite
  packages/whale-api-client/src/api/poolpairs.ts
  src/module.api/poolpair.controller.ts
  src/module.indexer/model/dftx.indexer.ts
  src/module.indexer/model/dftx/_module.ts
  src/module.indexer/model/dftx/composite.swap.spec.ts
  src/module.indexer/model/dftx/composite.swap.ts
  src/module.indexer/model/dftx/pool.pair.e2e.ts
  src/module.indexer/model/dftx/pool.swap.ts
  src/module.indexer/model/dftx/poolswap.ts
  src/module.model/_module.ts
  src/module.model/pool.swap.ts
Labels: kind/refactor, area/module-api, area/module-indexer, area/module-model, area/whale-api-client

#713 feat(indexer): `poolswap` "lite"
  packages/whale-api-client/__tests__/api/poolpairs.test.ts
  packages/whale-api-client/src/api/poolpairs.ts
  src/module.api/poolpair.controller.ts
  src/module.indexer/model/dftx.indexer.ts
  src/module.indexer/model/dftx/_module.ts
  src/module.indexer/model/dftx/composite.swap.spec.ts
  src/module.indexer/model/dftx/composite.swap.ts
  src/module.indexer/model/dftx/pool.pair.e2e.ts
  src/module.indexer/model/dftx/pool.swap.ts
  src/module.model/_module.ts
  src/module.model/pool.swap.ts
Labels: priority/urgent-now, kind/feature, area/module-api, area/module-indexer, area/module-model, area/whale-api-client

#764 revert CborEncoding, due to marginal improvement
  package-lock.json
  package.json
  src/module.database/provider.level/cbor.encoding.spec.ts
  src/module.database/provider.level/cbor.encoding.ts
  src/module.database/provider.level/level.database.ts
Labels: kind/chore, area/module-database

#774 feat(rpc): add validateaddress to MethodWhitelist
  src/module.api/rpc.controller.ts
Labels: kind/chore, area/module-api

#769 feat(module-api): add `/stats/supply` API
  jest.config.js
  packages/whale-api-client/__tests__/api/stats.test.ts
  packages/whale-api-client/src/api/stats.ts
  src/module.api/_module.ts
  src/module.api/stats.controller.ts
Labels: kind/feature, area/module-api, area/whale-api-client

#784 fix(stats/supply): add missing emission burn that is not tracked within account layer
  src/module.api/stats.controller.ts
Labels: kind/fix, area/module-api

#792 chore(core): testTimeout increase to 300000 for longer more complex tests
  .idea/dictionaries/fuxing.xml
  jest.config.js
Labels: kind/chore

#794 Add volume and commission to `poolpair.controller`
  packages/whale-api-client/__tests__/api/poolpairs.test.ts
  packages/whale-api-client/src/api/poolpairs.ts
  src/module.api/poolpair.controller.e2e.ts
  src/module.api/poolpair.controller.ts
  src/module.api/poolpair.service.ts
  src/module.indexer/model/dftx/pool.pair.e2e.ts
Labels: kind/feature, area/module-api, area/module-indexer, area/whale-api-client

#796 `ApiPagedResponse<PoolSwapAggregated>`
  packages/whale-api-client/__tests__/api/poolpairs.test.ts
  packages/whale-api-client/src/api/poolpairs.ts
  src/module.api/poolpair.controller.ts
  src/module.model/pool.swap.aggregated.ts
Labels: kind/feature, area/module-api, area/module-model, area/whale-api-client

#795 Remove poolswap optimisation
  src/module.indexer/model/dftx/pool.swap.aggregated.ts
Labels: kind/fix, area/module-indexer

#798 remove comission from swap indexing due to fork in DfTx
  src/module.indexer/model/dftx/composite.swap.ts
  src/module.indexer/model/dftx/create.pool.pair.ts
Labels: kind/fix, area/module-indexer

#799 chore(indexer): reverse bucket loop order, to exit when an index when interval already exist
  src/module.indexer/model/dftx/pool.swap.aggregated.ts
Labels: kind/chore, area/module-indexer

#800 Fix poolpair tests
  packages/whale-api-client/__tests__/api/poolpairs.test.ts
  src/module.indexer/model/dftx/pool.pair.e2e.ts
Labels: kind/fix, area/module-indexer, area/whale-api-client

#698 feat(whale-api): Add `froms` info on auction batch
  packages/whale-api-client/__tests__/api/loan.auction.test.ts
  packages/whale-api-client/__tests__/api/loan.vault.test.ts
  packages/whale-api-client/__tests__/api/poolpairs.test.ts
  packages/whale-api-client/src/api/loan.ts
  src/module.api/loan.auction.controller.e2e.ts
  src/module.api/loan.vault.service.ts
  src/module.model/vault.auction.batch.history.ts
Labels: priority/important-soon, kind/feature, area/module-api, area/module-model, area/whale-api-client

#805 feat(rpc): add listcommunitybalances to MethodWhitelist
  src/module.api/rpc.controller.ts
Labels: kind/feature, area/module-api
