Repository JellyfishSDK/whale, pull requests merged in 2022-04, with the labels that each got.

#876 feat(module.api): `getAccountHistory` api
  packages/whale-api-client/__tests__/api/account.history.test.ts
  packages/whale-api-client/src/api/address.ts
  src/module.api/address.controller.e2e.ts
  src/module.api/address.controller.ts
Labels: kind/feature, area/module-api, area/whale-api-client

#896 fix(poolpair.prices): BURN token is not available
  src/module.api/poolpair.prices.service.ts
Labels: kind/fix, area/module-api

#897 fix(poolpair.prices): add ignore burn symbol to computation path
  src/module.api/poolswap.pathfinding.service.ts
Labels: kind/fix, area/module-api

#898 fix(poolswap.pathfinding): ignore pool pair that is status:false
  packages/whale-api-client/__tests__/api/poolpairs.test.ts
  src/module.api/poolpair.controller.e2e.ts
  src/module.api/poolswap.pathfinding.service.ts
Labels: kind/fix, area/module-api, area/whale-api-client

#900 fix(performance): hotfix isPoolPairIgnore for production to check mainnet only
  src/module.api/poolswap.pathfinding.service.ts
Labels: kind/fix, area/module-api

#906 fix(poolpair/dexprices): add denomination symbol to dexprices cache key
  src/module.api/poolpair.controller.e2e.ts
  src/module.api/poolpair.prices.service.ts
Labels: kind/fix, area/module-api

#903 fix(poolpair/paths): make defidcache.getpoolpairinfo rely on 1m cached list instead of 10m cache
  src/module.api/cache/defid.cache.ts
  src/module.api/cache/global.cache.ts
  src/module.api/poolswap.pathfinding.service.ts
Labels: kind/fix, area/module-api

#908 fix(poolpair/pathfinding): always use direct path if available
  src/module.api/poolpair.controller.e2e.ts
  src/module.api/poolswap.pathfinding.service.ts
Labels: kind/fix, area/module-api

#909 feat(module.api): Whitelist `getFutureSwapBlock` RPC
  src/module.api/rpc.controller.ts
Labels: kind/feature, area/module-api

#914 chore(deps): Updated jellyfish deps and stat burn tests
  package-lock.json
  package.json
  packages/whale-api-client/__tests__/api/stats.test.ts
Labels: kind/chore, area/whale-api-client

#922 chore(workflows): cleanup workflow permissions and names
  .github/PULL_REQUEST_TEMPLATE.md
  .github/dependabot.yml
  .github/governance.yml
  .github/labeler.yml
  .github/workflows/defichain-dependencies.yml
  .github/workflows/oss-governance-bot.yml
  .github/workflows/oss-governance-labeler.yml
  .github/workflows/oss-governance-labels.yml
  .github/workflows/release-drafter.yml
Labels: kind/chore, area/workflow

#930 chore(cleanup): cleanup jellyfishsdk/whale post migration
  .github/labeler.yml
  .github/workflows/ci.yml
  .github/workflows/ci/docker-compose.yml
  .github/workflows/release-publish.yml
  CONTRIBUTING.md
  README.md
  packages/whale-api-client/package.json
  packages/whale-api-wallet/package.json
Labels: kind/chore, area/workflow, area/whale-api-client, area/whale-api-wallet
