Repository JellyfishSDK/whale, pull requests merged in 2022-03, with the labels that each got.

#823 feat(api/swaps/aggregated): include USD value for aggregated swaps
  packages/whale-api-client/__tests__/api/poolpairs.test.ts
  packages/whale-api-client/src/api/poolpairs.ts
  src/module.api/poolpair.controller.ts
  src/module.api/poolpair.service.ts
Labels: kind/feature, area/module-api, area/whale-api-client

#825 fix(poolpairs-pagination): BURN-DFI will be excluded after ApiPagedResponse have been created
  src/module.api/poolpair.controller.ts
Labels: kind/fix, area/module-api

#824 feature(controller): Resolve PoolSwap from/to from `AccountHistory`
  .idea/dictionaries/fuxing.xml
  packages/whale-api-client/__tests__/api/poolpairs.test.ts
  packages/whale-api-client/src/api/poolpairs.ts
  src/module.api/poolpair.controller.ts
  src/module.api/poolpair.service.ts
Labels: kind/chore, area/module-api, area/whale-api-client

#827 chore(cache) cache to improve performance of `/stats/supply`
  src/module.api/stats.controller.ts
Labels: kind/chore, area/module-api

#829 chore(cache): randomize cache duration
  src/module.api/stats.controller.ts
Labels: kind/chore, area/module-api

#832 add endpoint /stats/burn to get burn information, disable getburninfo from rpc
  .idea/dictionaries/fuxing.xml
  packages/whale-api-client/__tests__/api/stats.test.ts
  packages/whale-api-client/src/api/stats.ts
  src/module.api/rpc.controller.ts
  src/module.api/stats.controller.ts
Labels: kind/feature, area/module-api, area/whale-api-client

#840 feat(module.api): cache get token
  src/module.api/cache/defid.cache.ts
  src/module.api/token.controller.e2e.ts
  src/module.api/token.controller.spec.ts
  src/module.api/token.controller.ts
Labels: kind/feature, area/module-api

#848 chore(poolpair.controller): allow `to` to be optional when history cannot be resolved
  packages/whale-api-client/__tests__/api/poolpairs.test.ts
  src/module.api/poolpair.service.ts
Labels: kind/chore, area/module-api, area/whale-api-client

#847 Add to listPoolSwapsVerbose to return displaySymbol of swap
  packages/whale-api-client/__tests__/api/poolpairs.test.ts
  packages/whale-api-client/src/api/poolpairs.ts
  src/module.api/poolpair.service.ts
Labels: kind/feature, area/module-api, area/whale-api-client

#849 feat(controller): token swap pathfinding getallswappabletokens
  package-lock.json
  package.json
  packages/whale-api-client/src/api/poolpairs.ts
  src/module.api/poolpair.controller.e2e.ts
  src/module.api/poolpair.controller.ts
  src/module.api/poolpair.service.ts
Labels: kind/feature, area/module-api, area/whale-api-client

#854 feat(swap-pathfinding): glue api client with swap path finding endpoints
  packages/whale-api-client/__tests__/api/poolpairs.test.ts
  packages/whale-api-client/src/api/poolpairs.ts
  src/module.api/pipes/api.validation.pipe.ts
  src/module.api/poolpair.controller.ts
Labels: kind/feature, area/module-api, area/whale-api-client

#853 feat(indexer): Indexing Oracles Data
  packages/whale-api-client/__tests__/api/prices.test.ts
  packages/whale-api-client/src/api/prices.ts
  src/module.api/price.controller.ts
  src/module.indexer/model/dftx.indexer.ts
  src/module.indexer/model/dftx/_module.ts
  src/module.indexer/model/dftx/oracle.e2e.ts
  src/module.indexer/model/dftx/set.oracle.data.interval.ts
  src/module.model/_module.ts
  src/module.model/oracle.price.aggregated.interval.ts
Labels: kind/feature, area/module-api, area/module-indexer, area/module-model, area/whale-api-client

#862 feat(prices): include aggregated time range in Indexed PriceData
  packages/whale-api-client/__tests__/api/prices.test.ts
  packages/whale-api-client/src/api/prices.ts
  src/module.api/price.controller.ts
Labels: kind/feature, area/module-api, area/whale-api-client

#859 feat(controller/poolswap): Added buy/sell indicator for each swap entry
  packages/whale-api-client/__tests__/api/poolpairs.swaps.test.ts
  packages/whale-api-client/__tests__/api/poolpairs.test.ts
  packages/whale-api-client/src/api/poolpairs.ts
  src/module.api/poolpair.controller.ts
  src/module.api/poolpair.service.ts
Labels: kind/feature, area/module-api, area/whale-api-client

#870 feat(poolpairs/prices): add poolpairs/dexprices endpoint
  packages/whale-api-client/__tests__/api/poolpairs.test.ts
  packages/whale-api-client/src/api/poolpairs.ts
  src/module.api/_module.ts
  src/module.api/poolpair.controller.e2e.ts
  src/module.api/poolpair.controller.ts
  src/module.api/poolpair.prices.service.ts
  src/module.api/poolpair.service.ts
  src/module.api/poolswap.pathfinding.service.ts
Labels: kind/feature, area/module-api, area/whale-api-client
