Repository JellyfishSDK/whale, pull requests merged in 2022-05, with the labels that each got.

#963 chore(workflows): add PAT for workflows to trigger workflows
  .github/workflows/defichain-dependencies.yml
Labels: kind/chore, area/workflow

#965 feat(rpc): whitelist getpendingfutureswaps
  .idea/dictionaries/fuxing.xml
  src/module.api/rpc.controller.ts
Labels: kind/feature, area/module-api

#967 chore(stats): optimize stats.controller.ts by using common cache getburninfo
  src/module.api/stats.controller.ts
Labels: kind/chore, area/module-api

#969 feat(module-api): Expose dex fee on `PoolPairResult`
  packages/whale-api-client/src/api/poolpairs.ts
  src/module.api/poolpair.controller.e2e.ts
  src/module.api/poolpair.controller.ts
Labels: kind/feature, area/module-api, area/whale-api-client

#973 chore(cache): reduce semaphore cache concurrency to reduce locking
  src/module.api/cache/semaphore.cache.spec.ts
  src/module.api/cache/semaphore.cache.ts
Labels: kind/chore, area/module-api

#976 chore(memory): increase node heap size to 4gb
  Dockerfile
Labels: kind/chore

#980 chore(whale-api-client): Default whale api client to v0 and let url be optional
  packages/whale-api-client/__tests__/stub.client.ts
  packages/whale-api-client/package.json
  packages/whale-api-client/prebuild
  packages/whale-api-client/src/version.ts
  packages/whale-api-client/src/whale.api.client.ts
Labels: kind/chore, area/whale-api-client

#975 feat(module.defid): Detect tip stale by height
  src/module.api/actuator.e2e.ts
  src/module.model/_model.probes.ts
Labels: kind/feature, area/module-api, area/module-model

#983 docs(consolidation): add migration notice
  README.md
Labels: kind/docs

#986 fix(whale-api): activateAfterBlock: 0 for CollateralToken to prevent downstream regression
  src/module.api/loan.controller.ts
Labels: kind/fix, area/module-api

#988 bump(deps): @defichain/jellyfish dependencies
  package-lock.json
  package.json
  packages/whale-api-client/__tests__/api/loan.collateral.test.ts
  packages/whale-api-client/package.json
  packages/whale-api-client/src/api/address.ts
  packages/whale-api-wallet/package.json
  src/module.api/loan.collateral.controller.e2e.ts
  src/module.api/loan.controller.ts
Labels: kind/dependencies, area/module-api, area/whale-api-client, area/whale-api-wallet
