Repository JellyfishSDK/whale, pull requests merged in 2022-01, with the labels that each got.

#699 dex hide BURN-DFI
  src/module.api/poolpair.controller.ts
Labels: kind/chore, area/module-api

#697 feat(whale-api): Add `isLoanToken` flag
  packages/whale-api-client/__tests__/api/address.test.ts
  packages/whale-api-client/__tests__/api/loan.collateral.test.ts
  packages/whale-api-client/__tests__/api/loan.token.test.ts
  packages/whale-api-client/__tests__/api/tokens.test.ts
  packages/whale-api-client/src/api/address.ts
  packages/whale-api-client/src/api/tokens.ts
  src/module.api/address.controller.e2e.ts
  src/module.api/address.controller.spec.ts
  src/module.api/address.controller.ts
  src/module.api/loan.collateral.controller.e2e.ts
  src/module.api/loan.token.controller.e2e.ts
  src/module.api/token.controller.e2e.ts
  src/module.api/token.controller.spec.ts
  src/module.api/token.controller.ts
Labels: kind/feature, area/module-api, area/whale-api-client

#688 fix(packages): regression fixes
  package-lock.json
  package.json
  packages/whale-api-client/__tests__/api/loan.auction.history.test.ts
  packages/whale-api-client/__tests__/api/loan.vault.test.ts
  packages/whale-api-client/__tests__/api/prices.test.ts
  packages/whale-api-client/__tests__/api/stats.test.ts
  packages/whale-api-client/package.json
  packages/whale-api-wallet/package.json
  src/module.api/loan.auction.history.e2e.ts
  src/module.indexer/model/dftx/appointed.oracle.spec.ts
  src/module.indexer/model/dftx/oracle.e2e.ts
  src/module.indexer/model/dftx/place.auction.bid.spec.ts
  src/module.indexer/model/dftx/remove.oracle.spec.ts
  src/module.indexer/model/dftx/set.oracle.data.spec.ts
  src/module.indexer/model/dftx/update.oracle.spec.ts
Labels: kind/fix, area/module-api, area/module-indexer, area/whale-api-client, area/whale-api-wallet

#712 fix(whale-api-client): missing `order: number` for Transaction
  packages/whale-api-client/src/api/transactions.ts
Labels: kind/fix, area/whale-api-client

#728 chore(health): allow model readiness synced blocks to be up to 10 blocks behind
  src/module.model/_model.probes.ts
Labels: kind/chore, area/module-model

#735 bump(docker-compose): update defid to 2.6.0
  .github/workflows/ci/docker-compose.yml
Labels: kind/dependencies, area/workflow

#734 chore(whale-api-client): increase prevout size to 200 for WhaleWalletAccount
  packages/whale-api-wallet/src/wallet.ts
Labels: kind/chore, area/whale-api-wallet

#738 chore(model.probes.ts): change model readiness window to 4
  src/module.model/_model.probes.ts
Labels: kind/chore, area/module-model

#741 chore(docker-compose): update fork height for defid
  .github/workflows/ci/docker-compose.yml
Labels: kind/chore, area/workflow

#732 chore(database): add cbor for value encoding to reduce overall storage footprint
  package-lock.json
  package.json
  src/module.database/provider.level/cbor.encoding.spec.ts
  src/module.database/provider.level/cbor.encoding.ts
  src/module.database/provider.level/level.database.ts
Labels: kind/chore, area/module-database

#737 chore(database): increase max open file and max file size to benefit modern system
  src/module.database/provider.level/level.database.ts
Labels: kind/chore, area/module-database

#742 chore(indexer): reduce the amount of RPC call from 4 to 2 for indexing
  src/e2e.module.ts
  src/module.indexer/rpc.block.provider.ts
Labels: kind/chore, area/module-indexer

#733 chore(database): check index is modified before deleting for better performance
  src/module.database/provider.level/level.database.ts
Labels: kind/chore, area/module-database
